html { 
    overflow: hidden;
    width: 100vw;
    background-color: black;
}
body {
    display: flex;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
    align-items: center;
    max-height: 100vh;
    max-width: 100vw;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

/* NAVBAR */
.nav {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: right;
    background-color: #11141a;
}

.nav > li {
    position: relative;
    padding: 20px;
    list-style-type: none;
    font-size: 20px;
}
.nav > li > a {
    text-decoration: none;
    color: #ccc;
    transition: 0.2s ease;;
}
.nav > li > a:hover {
    color: #8586a0;
    color: #ccc;
    transition: 0.2s ease;;
}
.nav > li > a:hover {
    color: #8586a0;
}

/* DASHBOARD.HTML */
.container {
    position: relative;
    display: grid;
    grid-template-areas: 
    'header header'
    'main main';
    grid-template-rows: 50px auto;
    grid-template-columns: 350px 350px;
    margin-top: 300px;
    margin-top: 300px;
}
.container >h1 {
    grid-area: header;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #babbd9;
}
.container > p {
    margin-top: 75px;
    font-size: 20px;
}
.container > p > a {
    text-decoration: none;
    color: #9697b3;
    transition: 0.5s ease;
}

.container > p > a:hover {
    font-size: 22px;
}


/* MESSENGER.HTML */
#container2 {
    position: relative;
    width: 100vw;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-areas: 
    'chatselectorsettings chat'
    'chatselector chat';
    grid-template-rows: 50px auto;
    grid-template-columns: 350px auto;
    align-self:last baseline;
    transition: 0.5s ease;
}
#newchatmenu {
    outline: none;
    display: none;
    opacity: 0;
    position: absolute;
    background-color: #222222;
    border: 1px solid #444444;
    z-index: 1;
    height: 10%;
    top: 20%;
    left: 50%;
    width: 25%;
    transform: translate(-50%, 0);
    flex-direction: row;
    justify-content: center;
    transition: 0.5s ease;
    backdrop-filter: blur(5px);
    flex-wrap: wrap;
    border-radius: 5px;
}
#newchatmenu > p {
    color: #ccc
}
#newchatmenu:focus-within {
    opacity: 1;
    height: 65%;
}
#newchatmenu > input {
    position: relative;
    outline: none;
    background-color: transparent;
    border: 1px solid #434a57;
    width: 55%;
    margin-top: 10%;
    font-size: 20px;
    height: 7%;
    padding-left: 20px;
    padding-right: 20px;
    color: #ccc;
    font-family: inherit;
}
#newchatmenu > i {
    cursor: pointer;
    color: #ccc;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10%;
    font-size: 28px;
    margin-left: 20px;
    margin-right: -10px;
    height: 7%;
}
#newchatmenu > ul {
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(55% + 78px);
    height: 70%;
    padding: 0;
}
#newchatmenu > ul > li {
    display: flex;
    align-items: center;
    height: 60px;
    width: calc(100%-1px);
    transition: 0.2s ease;
    cursor: pointer;
    color: #ccc;
    border: 1px solid #222222;
}
#newchatmenu > ul > li:hover {
    background-color: #292e38;
    border: 1px solid #434a57;
}
#newchatmenu > ul > li > img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    margin-left: 25px;
}
#newchatmenu > ul > li > input { 
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}
#newchatmenu > ul > li > input:checked ~ span {
    background-color: #8184d6;
}
#newchatmenu > ul > li > span {
    margin-left: auto;
    margin-right: 15px;
    width: 17px;
    height: 17px;
    background-color: #2f2f2f;
    border: 1px solid #11141a;
    border-radius: 50%;
    transition: 0.2s ease;
}
#newchatmenu > button {
    position: absolute;
    font: inherit;
    background-color: #292e38;
    color: #ccc;
    border: 1px solid #434a57;
    font-size: 28;
    height: 7%;
    bottom: 10%;
    width: 70%;
    transition: 0.2s ease;
    cursor: pointer;
}
#newchatmenu > button:hover {
    background-color: #434a57;
    border: 1px solid #8184d6;
}
#chatselectorsettings {
    background-color: #11141a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: chatselectorsettings;
}
#chatselectorsettings > p {
    margin: 0;
    margin-left: auto;
    font-size: 24px;
    font-weight: bold;
}
#chatselectorsettings > i {
    margin-left: auto;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.2s ease;
}
#chatselectorsettings > i:hover {
    color: #8184d6;
}
#chatselectorsettings > i {
    margin-left: auto;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.2s ease;
}
#chatselectorsettings > i:hover {
    color: #8184d6;
}
#chatselector {
    color: white;
    grid-area: chatselector;
    background-color: #11141a;
}
#chatselector > ul {
    padding: 0;
}
#chatselector > ul > li {
    border: 1px solid #11141a;
    display: flex;
    align-items: center;
    height: 60px;
    transition: 0.2s ease;
    cursor: pointer;
}
#chatselector > ul > li:hover {
    background-color: #292e38;
    border-color: #434a57;
}
#chatselector > ul > li > div {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: 25px;
    transition: 0.2s ease;
}
#chatselector > ul > li > div > i{
    position: relative;
    display: none;
    transition: 0.2s ease;;
}
#chatselector > ul > li > div > i:first-of-type {
    display: none;
    margin-right: 10px;
}
#chatselector > ul > li:hover > div > i:first-of-type {
    display: block;
}
#chatselector > ul > li:hover > div {
    width: fit-content;
}
#chatselector > ul > li > div > i:focus {
    display: block;
    color: #8184d6;
}
#chatselector > ul > li > div > i:hover {
    color: #8184d6;
}
#chatselector > ul > li > div:focus-within > i{
    display: block;
}
#chatselector > ul > li > div > i:last-of-type:focus-within {
    display: block;
}
#chatselector > ul > li > p {
    margin: 0;
}
#chatselector > ul > li > img {
    height: 35px; 
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 25px;
}
#chat {
    display: flex;
    grid-area: chat;
    background-color: #2f2f2f;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
#chat > ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
}
#chat > ul > li {
    display: flex;
    padding: 0;
    margin: 10px;
    height: fit-content;
    width: auto;
}
#chat > ul > li > p{
    cursor:default;
    font-family: "Lucida Console", "Courier New", monospace;
    max-width: 80%;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    width: fit-content;
    color: #ccc;
    position: relative;
    word-wrap: break-word;
}
#chat > ul > li[sent] {
    display:flex;
    margin-bottom: 10px;
    margin-right: 10px;
    justify-content: right;
}
#chat > ul > li > i {
    cursor:default;
    color: #ccc;
    font-size: 12px;
    padding-right: 2px;
    margin-right: 10px;
    display: none;
    align-items: center;
    overflow: hidden;
    width: 0px;
    transition: 1s ease;
}
#chat > ul > li[sent] > p{
    background-color: #444444;
}
#chat > ul > li[received] > p{
    background-color: #222222;
}
#chat > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#chat > div > textarea {
    outline: none;;
    resize: none;
    position: relative;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
    border: 1px solid #434a57;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
    height: 18px;
    background-color: #2f2f2f;
    color: #ccc;
}
#chat > div > i {
    margin-left: 10px;
    color: #ccc;
    transition: 0.2s ease;
    cursor: pointer;
}
#chat > div > i:hover {
    color: #8184d6;
    transform: translate(5px,0);
}












#profilesettings {
    height: 200px;
    width: 300px;
    background-color: white;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#profilesettings > input:last-child {
    width: 40%;
}
#profilesettings > label {
    height: 100px;
    width: 100px;
    background-color: grey;
}
#profilesettings > label > img {
    border-radius: 25%;
    transition: 0.5s ease;
    opacity: 1;
}

#profilesettings > label> img:hover {
    cursor:pointer;
    opacity: 50%;
}
#profilesettings > p {
    transition: 0.25s ease;
}
#profilesettings > p:hover {
    color: red;
    cursor: pointer;
}
#selectpfpimage {
    height: 100%;
}

.chatsearch {
    grid-area: search;
    text-align: center;
}
.chatselector {
    overflow :auto;
    grid-area: menu;
}
.chatinfo {
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    grid-area: chatinfo;
    font-size: 24px;
}
.chatinfo > a {
    display: none;
    color:black
}
.messagecontainer {
    background-color: #000000;
    display: flex;
    flex-direction: column-reverse;
    overflow-y:auto;
    overflow-x: hidden;
    width: auto;
    height: auto;
    grid-area: main;
}
.message > div {
    display: none;
    font-size: 16px;
    position: relative;
    left: 5px;
}
.message[sent] {
    display:flex;
    margin-bottom: 10px;
    margin-right: 10px;
    justify-content: right;
}
.message[sent] > p{
    background-color: #444444;
}
.message[received] > p{
    background-color: #222222;
}
.inputcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: input;
}
.friend {
    display:flex;
    align-items: center;
    margin: 0;
    height: 10%;
    background-color: #fcfcfc;
}
.friend > p {
    margin: 0;
}
.friend > img {
    height: 50%;
    margin-right: 5%;
    border-radius: 50%;
}
.friend:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

#chatlist {
    height: 100%;
    list-style-type: none;
}
#messagelist {
    list-style-type: none;
}
#message {
    display: none;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 16px;
    width: 80%;
    height: 40px;
}
#newchat {
    padding: 0;
    width: 100%;
    height: 50%;
    background-color: lightgrey;
    font-size: 20px;
    border: none;
}
#newchat:hover {
    background-color: grey;
    cursor: pointer;
}
#nochatwarning {
    text-align: center;
}
#search {
    display: none;
    border: 1px solid black;
    text-align: center;
    padding: 0;
    width: 98%;
    height: 40%;
    font-size: 16px;
}
#profilesettings {
    z-index: 1;
}


@media only screen and (max-width: 600px) {
    .chatinfo {display: none}
    .messagecontainer {display: none}
    .inputcontainer {display: none}
    .settings {grid-area: 1 / 1 / span 1 / span 3;}
    .chatselector{grid-area: 2 / 1 / span 1 / span 3;}
    .chatsearch{grid-area: 3 / 1 / span 1 / span 3;}
}






/* LOGIN/SIGNUP.HTML */
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #babbd9;
}
.form > p{
    font-size: 20px;
}
.form > input {
    font: inherit;
    width: fit-content;
}
.form > #submit {
    margin-top: 25px;
    border:none;
    color: inherit;
    font: inherit;
    font-size: 30px;
    background-color: transparent;
    transition: 0.5s ease;
}
.form >#submit:hover {
    cursor: pointer;
    color: #9697b3;
    font-size: 32px;
}



/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #434a57;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

::-webkit-scrollbar-corner {

}
