<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<form method = "POST" class="form">
    <h1>sign in</h1>
    {{form.hidden_tag()}}<!-- hidden tag to prevent CSRF attacks -->
    <p>username</p>
    {{form.username}}
    <p>password</p>
    {{form.password}}
    {% if error %} <!-- if there is an error passed in app.py, it will display here -->
        <p style="color: #ff0000; text-align: center;">{{error}}</p>
    {%endif%}
    {% if success %} <!-- if there is an error passed in app.py, it will display here -->
        <p style="color: #00ff00; text-align: center;">Account Created</p>
    {%endif%}
    {{form.submit}} <!-- the form's submit button -->
</form>
<a style="color:#babbd9; margin-top: 100px;" href="{{url_for('signup')}}">register an account</a>
