{% include 'layout.html' %}
<body>
     <form action="" method="POST" enctype = "multipart/form-data" id="profilesettings" style="display: none">
        <input type="file" id="pfpfile" name="image" accept="image/*" hidden>
        <label for="pfpfile"><img id="selectpfpimage"></label>
        <p style="font-size: 24px" onclick="toggleprofilesettings()">CONTINUE</p>
    </form>
    <div class="container" id="maincontainer">
        <div class="settings">
            <img id="profile" onclick="toggleprofilesettings()">
        </div>
        <div class="chatinfo">
            <p id="chatname"></p>
            <img id="chaticon">
            <a href="#" onclick="showmenu()"><i class="material-icons">arrow_back_ios_new</i></a>
        </div>
        <div class="chatselector" id="chatselector">
            <li id="chatlist">
                <ul id="chatbot" class="friend">
                    <p>Jeremy AI</p>
                </ul>
            </li>
        </div>
        <div class="messagecontainer" id="messagewindow">
            <li id="messagelist" style="list-style-type: none;">
            </li>
        </div>
        <div class="chatsearch">
            <input type="text" id="search" oninput="searchuser()" placeholder="SEARCH">
            <button id="newchat" onclick="newchat()">+</button>

        </div>
        <div class="inputcontainer">
            <input type="text" placeholder="Message" id="message">
        </div> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        const socket = io()
        let receiver = ""
        let current_room = ""
        let chatlistmode = "chats"
        window.onload = async function(){
            socket.connect()
            updatefriends()
            friends = await callapi("friends")
            pfp = await callapi("pfp")
            document.getElementById("profile").src=pfp
            document.getElementById("selectpfpimage").src=pfp
        }
        // from https://www.geeksforgeeks.org/how-to-upload-image-in-html/
        document.getElementById('pfpfile').addEventListener('change', function () {
            let file = this.files[0];
            let reader = new FileReader();

            reader.onload = function (event) {
                let base64String = event.target.result;
                document.getElementById('selectpfpimage').src = base64String;
                socket.emit("pfpupload", base64String)
            };
    
            reader.readAsDataURL(file);
        });

        function newchat() {
            if (document.getElementById("search").style.display!="block") {
                document.getElementById("search").style.display="block"
                document.getElementById("newchat").textContent="-"
                chatlistmode = "users"
            }
            else {
                document.getElementById("search").style.display="none"
                document.getElementById("newchat").textContent="+"
                chatlistmode = "chats"
                updatefriends()
            }
        }

        function showmenu() {
            
        }
        async function callapi(data) {
            let request = await fetch("{{url_for('api', data='')}}" + data);
            response = await request.text()
            return (response)
        }
        async function toggleprofilesettings() {
            if (document.getElementById("profilesettings").style.display=="none") {
                document.getElementById("profilesettings").style.display="flex";
                document.getElementById("maincontainer").style.filter="blur(10px)";
                document.getElementById("profilesettings").style.filter="blur(0)";
            }
            else {
                document.getElementById("profilesettings").style.display="none";
                document.getElementById("maincontainer").style.filter="blur(0)";
                window.location.reload()
            }
        }
        async function updatefriends() {
            document.getElementById('chatlist').remove()
            let newfriendslist = document.createElement('li')
            newfriendslist.id="chatlist"
            document.getElementById('chatselector').appendChild(newfriendslist)
            var array = JSON.parse(await callapi("friends"))
            console.log(array)
            nochats=true
            for (room in array) {
                if (array[room]['username']=="Jeremy AI") {
                    nochats = false
                }
            }
            if (nochats==true) {
                await socket.emit("newroom", ["{{username}}", "Jeremy AI"])
                await new Promise(r => setTimeout(() => r(), 100))  
            }
            for (user in array) {
                let username = array[user]['username']
                let newuser = document.createElement('ul')
                let text = document.createElement('p')
                let pfp = document.createElement('img')
                let room=user
                pfp.src=array[user]['profile']
                text.textContent=username
                document.getElementById('chatlist').appendChild(newuser)
                newuser.appendChild(pfp)
                newuser.appendChild(text)
                newuser.onclick = function() {setchat(username, room)}
                newuser.className = "friend"
            }
        }
        async function setchat(user, roomid) {
            socket.emit("leaveroom", current_room)
            if (chatlistmode=="users") {
                await socket.emit("newroom", ["{{username}}", user])
                await new Promise(r => setTimeout(() => r(), 100))
                newchat()
            }
            else {
                document.getElementById('chatname').textContent=user
                document.getElementById('messagelist').remove()
                let newchats = document.createElement('li')
                newchats.id="messagelist"
                document.getElementById('messagewindow').appendChild(newchats)
                document.getElementById('message').style.display="block"
                if (current_room!="" && current_room!=roomid) {
                    socket.emit("leaveroom", current_room)
                }
                socket.emit("joinroom", roomid)
                current_room=roomid
                var messages = JSON.parse(await callapi("messages&room=" + roomid))
                for (message in messages) {
                    newmessage(messages[message]['text'], messages[message]['from'])
                }
            }
        }
        async function searchuser() {
            if (chatlistmode=="users") {
                var array = JSON.parse(await callapi("allusers"))
                document.getElementById('chatlist').remove()
                let newfriendslist = document.createElement('li')
                newfriendslist.id="chatlist"
                document.getElementById('chatselector').appendChild(newfriendslist)
                for (user in array) {
                    let username = array[user]['username']
                    if (username.includes(document.getElementById('search').value) && document.getElementById('search').value.length>0) {
                        let newuser = document.createElement('ul')
                        let text = document.createElement('p')
                        text.textContent=username
                        document.getElementById('chatlist').appendChild(newuser)
                        newuser.appendChild(text)
                        newuser.onclick = function() {setchat(username)}
                        newuser.className = "friend"
                    }
                }
            }
        }
        function newmessage(messagetext, from) {
            let sender = from
            let message = document.createElement('ul')
            let text = document.createElement('p')
            senderdiv = document.createElement('div')
            if (from=="Jeremy AI") {
                message.innerHTML="<p>"+messagetext.replace(/\</g,"&lt;").replace(/\>/g,"&gt;").replaceAll("\n", "<br>").replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')+"</p>"
            }
            else {
                text.textContent=messagetext
                message.appendChild(text)

            }
            document.getElementById('messagelist').appendChild(message)
            senderdiv.textContent=sender
            message.appendChild(senderdiv)
            message.className = "message"
            if (sender=='{{username}}' || sender===undefined) {
                message.setAttribute("sent", true)
            }
            else {
                message.setAttribute("received", true)
            }
        }

        document.getElementById('message').addEventListener('keydown', (e) => {
        if (e.key === 'Enter' && document.getElementById('message').value.replaceAll(' ', '').length >=1) {
            socket.emit("message", JSON.stringify({"message": document.getElementById('message').value, "sender": '{{username}}', "room": current_room}))
            document.getElementById('message').value=""
        }})
        socket.on('message', function(data){
            newmessage(JSON.parse(data)['message'], JSON.parse(data)['sender'])
            }
        )
    </script>
</body>