{%include 'layout.html' %}
<script src="{{ url_for('static', filename='js/messenger.js') }}"></script>
<div class="container2">
    <div id="chatselectorsettings">
        <p>{{username}}</p>
        <i class="material-icons">add</i>
    </div>
    <div id="chatselector">
        <ul>
            {% for chat in existing_chats %}
                <li onclick='location.href="{{url_for('messenger', chatid=chat[3]) }}"'>
                    <img src="{{chat[2]}}">
                    <p>{{chat[0]}}</p>
                    <i class="material-icons">more_horiz</i>
                </li>
            {% endfor %}
        </ul>
        
    </div>
    <div id="chat">
        <ul>
            {% for message in message_history %}
                {% if message[0]==current_user %}
                    <li sent="True">
                {%else%}
                    <li received="True">
                {%endif%}
                    <i>{{message[0]}}</i><p>{{message[1]}}</p>
                </li>
            {%endfor%}
        </ul>
        <div>
            <textarea type="text" id="messageinput"></textarea>
            <i class="material-icons">send</i>
        </div>
    </div>
</div>